{% extends 'base.html' %}

{% block main %}

<form method="POST" action="{% url 'home' %}" class="bottom">
  <div class="container">
    <div class="row">
      {% csrf_token %} {% for item in products %}
      <div class="col-md-12 mb-3">
        <div class="card" style="width: 100%">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ item.image.url }}" class="card-img" alt="{{ item.product_name }}"
                style="object-fit: contain; height: 100%; width: 100%" />
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ item.product_name }}</h5>
                <p class="card-text description">{{ item.description }}</p>
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="card-text text-success">
                      Price: ${{ item.price }}
                    </p>
                    <p class="card-text">Quantity: {{ item.quantity }}</p>
                    <!-- <p class="card-text">
                        Created By: {{ item.manager.first_name }} On:
                        {{item.created_at}}
                      </p> -->
                    {% if item.modified_by and item.modified_at %}
                    <p class="card-text">
                      Modified By: {{ item.modified_by.first_name }} On:
                      {{item.modified_at}}
                    </p>
                    {% endif %}
                  </div>
                  <div class="d-flex flex-column align-items-end">
                    <a href="{% url 'editprod' item.id %}" class="btn btn-success w-100">Edit</a>
                    <a href="{% url 'delete_product' item.id %}"
                      onclick="return confirm('Are you sure you want to delete the record?')"
                      class="btn btn-danger w-100">Delete</a>
                    <a href="{% url 'product_audit_history' item.id %}" class="btn btn-secondary">Audit History</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <a href="{% url 'add_item' %}" class="footer">Add</a>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}