{% extends 'base.html' %} {% load crispy_forms_tags %} {% block main %}
<canvas id="myChart1" style="width: 100%; max-width: 600px"></canvas>
<br />
<br />
<br />
<hr />
<hr />
<canvas id="myChart3" style="width: 100%; max-width: 600px"></canvas>
<br />
<br />
<br />
<hr />
<hr />

<canvas id="myChart2" style="width: 100%; max-width: 600px"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>

  let result = []
  {% for data in top_five %}
  result.push('{{ data.score }}')
  {% endfor %}
  while (result.length < 5) {
    result.push("");
  }

  let labels = []
  {% for data in top_five %}
  labels.push('{{ data.examinee.first_name}}')
  {% endfor %}
  while (labels.length < 5) {
    labels.push("");
  }
  console.log(labels)
  var config1 = {
    type: "bar",
    data: {
      labels: labels,
      datasets: [
        {
          label: "score",
          data: result,
          backgroundColor: "#eebcde",
        },
      ],
    },
    options: {
      scales: {
        xAxes: [
          {
            display: true,
            scaleLabel: {
              display: true,
              labelString: "User",
            },
          },
        ],
        yAxes: [
          {
            display: true,
            ticks: {
              beginAtZero: true,
              steps: 10,
              stepValue: 20,
              max: 100,
            },
          },
        ],
      },
      title: {
        display: true,
        text: "Quiz Top 5 Scores",
      },

    },
  };
  new Chart("myChart1", config1);

  let result2 = []
  {% for data in last_five %}
  result2.push('{{ data.score}}')
  {% endfor %}
  while (result2.length < 5) {
    result2.push("");
  }

  let labels2 = []
  {% for data in last_five %}
  labels2.push('{{ data.examinee.first_name}}')
  {% endfor %}
  while (labels2.length < 5) {
    labels2.push("");
  }
  console.log(labels)
  var config3 = {
    type: "bar",
    data: {
      labels: labels2,
      datasets: [
        {
          label: "score",
          data: result2,
          backgroundColor: "#eebcde",
        },
      ],
    },
    options: {
      scales: {
        xAxes: [
          {
            display: true,
            scaleLabel: {
              display: true,
              labelString: "User",
            },
          },
        ],
        yAxes: [
          {
            display: true,
            ticks: {
              beginAtZero: true,
              steps: 10,
              stepValue: 20,
              max: 100,
            },
          },
        ],
      },
      title: {
        display: true,
        text: "Quiz Last 5 Scores",
      },
    },
  };
  new Chart("myChart3", config3);


  var config2 = {
    type: "bar",
    data: {
      labels: ["Average"],
      datasets: [
        {
          label: "Mean",
          data: ["{{ average_score }}"],
          backgroundColor: "#eebcde",
        },
      ],
    },
    options: {
      title: {
        display: true,
        text: "Quiz Average Scores",
      },
      scales: {
        yAxes: [
          {
            display: true,
            ticks: {
              beginAtZero: true,
              steps: 10,
              stepValue: 20,
              max: 100,
            },
          },
        ],
      },
    },
  };
  new Chart("myChart2", config2);
</script>
{% endblock %}