{% extends 'base.html' %} {% block main %} {% if user.is_examiner %}
<div class="d-flex align-items-center justify-content-between">
  <div>
    <a class="btn btn-primary" href="{% url 'home' %}">Home</a>
    <a class="btn btn-outline-primary" href="{% url 'my_quiz' %}">My Quiz</a>
  </div>
  <a class="btn btn-success" href="{% url 'quiz_create' %}">+ New Quiz</a>
</div>

{% if quiz_list %}
<br />
<br />
<a class="btn btn-secondary" href="{% url 'quiz_visualization' %}">Visualization</a>
{% endif %}
{% endif %} {% for quiz in quiz_list %}
<div class="card mt-4">
  <div class="card-header d-flex align-items-center justify-content-between">
    <span class="h2">{{ quiz.name }}</span>
    <div>
      <span class="badge rounded-pill bg-secondary p-2">{{ quiz.total_questions }} questions</span>
      <span class="badge rounded-pill bg-secondary p-2">{{ quiz.total_time }} minutes</span>
      <span class="badge rounded-pill bg-secondary p-2">{{ quiz.subject }} subject</span>
      <span class="badge rounded-pill bg-secondary p-2">{{ quiz.deadline }}</span>

    </div>
  </div>
  <div class="card-body">
    <p class="card-text my-3">{{ quiz.description }}</p>
  </div>
  {% if not user.is_examiner %}
  {% if quiz.is_valid and quiz.deadline > current_time %} <a class="btn btn-success"
    href="{% url 'take_quiz' quiz.id %}?question=0">Take Quiz</a>
  {% else %}
  <span style="color: #856404;
  background-color: #fff3cd; 
  padding: .375rem .75rem; 
  border-radius: .25rem; 
  font-size: 1rem; 
  margin-top: 10px;">Dead Line is over</span>
  {% endif %}
  {% endif %}
</div>
{% empty %}
<h4 class="mt-4">No quizzes yet.</h4>
{% endfor %} {% endblock %}