{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<h2>{{ quiz }}</h2>
<form class="mt-4" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>{{ question_no }}. New Question</h4>
    {{ form|crispy }}
    <h4 class="mt-4">Options</h4>
    {{ formset.management_form }}
    {% for form in formset.forms %}
    <div class="row">
        <div class="col-sm-10">
            {{ form.text|as_crispy_field }}
        </div>
        <div class="col-sm mt-5">
            {{ form.is_correct|as_crispy_field }}
        </div>
    </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}